/* global values */
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Roboto", Verdana, Tahoma, sans-serif;
}

:root {
  --col-bg: #222 /*rgb(15, 112, 209)*/;
  --col-navbg: rgba(0, 0, 0, 0.8);
  --col-taskbg: rgb(100, 100, 100);
  --col-bdbg: rgb(77, 88, 99);
  --col-compl: rgb(0 200 0);
  --col-compl2: rgb(0 150 0);
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #a0fd1b;
  --clr-primary-a10: #aefe47;
  --clr-primary-a20: #bafe64;
  --clr-primary-a30: #c6ff7d;
  --clr-primary-a40: #d1ff94;
  --clr-primary-a50: #dbffaa;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #202618;
  --clr-surface-tonal-a10: #353a2d;
  --clr-surface-tonal-a20: #4b5044;
  --clr-surface-tonal-a30: #62675c;
  --clr-surface-tonal-a40: #7a7e75;
  --clr-surface-tonal-a50: #93978f;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}

/* main over-arching settings */

body {
  background-color: var(--clr-surface-tonal-a0);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 6fr 1fr 60% 1fr 6fr;
}

main {
  background-color: var(--clr-surface-a0);
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 0 2rem 0 2rem;
}

/* navbar settings */
#navToggle {
  width: 100%;
}
.navToggle {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 24px;
  border: 1px solid white;
  border-radius: 4px;
}
.navToggle:hover {
  background-color: #333;
}
.navToggle:active {
  background-color: #777;
}
.sideNav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sideNav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sideNav #closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
  transition: margin-left .5s;
  padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}
/**/


/* content settings */
#heading {
  color: white;
  text-align: center;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

#newTaskForm {
  display: flex;
}

#newTaskForm > button {
  margin: 0 4px;
}

#addBtn {
  flex-grow: 0;
}

/* has to be declared in the html for the button to work first click?
#formOptions {
  display: none;
}
*/

/* task style settings */
#taskTitle {
  flex-grow: 1;
  margin: 0 1rem 0 0;
}

#taskList {
  margin: 2rem 0 0 0;
}


.task {
  background-color: var(--col-taskbg);
  border: 1px solid var(--col-bdbg);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 0 .4rem 0;
}

.subtaskList {
  padding: 0 0 0 2rem;
  list-style-type: none;
}

li.subtask {
  padding: 4px;
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: flex;
}

li.subtask > span {
  flex-grow: 1;
}

/* conditional formatting classes */
.complete {
  background-color: var(--col-compl);
}

li.complete {
  background-color: var(--col-compl2);
}

li.complete > span {
  text-decoration: line-through;
}