/* global values */
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Roboto", Verdana, Tahoma, sans-serif;
}

:root {
  --col-bg: #222 /*rgb(15, 112, 209)*/;
  --col-navbg: rgba(0, 0, 0, 0.8);
  --col-taskbg: rgb(100, 100, 100);
  --col-bdbg: rgb(77, 88, 99);
  --col-compl: rgb(0 200 0);
  --col-compl2: rgb(0 150 0);
  --nav-link-underline: 2px;
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #a0fd1b;
  --clr-primary-a10: #aefe47;
  --clr-primary-a20: #bafe64;
  --clr-primary-a30: #c6ff7d;
  --clr-primary-a40: #d1ff94;
  --clr-primary-a50: #dbffaa;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #202618;
  --clr-surface-tonal-a10: #353a2d;
  --clr-surface-tonal-a20: #4b5044;
  --clr-surface-tonal-a30: #62675c;
  --clr-surface-tonal-a40: #7a7e75;
  --clr-surface-tonal-a50: #93978f;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}

/*
- #body
  - #nav
    - #main
      - #header
      - #content
      - #footer
*/

#body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
}

/* navigation sidebar */
#nav {
  /*border: 4px solid red;*/
  background-color: var(--clr-surface-a10);
  color: var(--clr-primary-a0);
  grid-column: 1/3;
  border-right: 1px solid var(--clr-surface-a0);
}

#navTitle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 12px 0 12px 0;
}

#menuIcon {
  width: 52px;
  margin: 8px;
}

#pgTitle {
  font-size: 28px;
  text-align: center;
}

#navLinks {
  /*border: 4px solid red;*/
  position: sticky;
  top: 4px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a.navLink {
  text-decoration: none;
  color: var(--clr-primary-a10);
  font-size: 30px;
  margin: 8px 0 6px 0;
  border-bottom: 2px solid var(--clr-surface-a10);
  width: 100%;
}

a.navLink:hover {
  color: var(--clr-primary-a30);
  border-bottom: 2px solid var(--clr-surface-a30);
}

/* main page section */
#main {
  /*border: 4px solid blue;*/
  background-color: var(--clr-surface-a20);
  grid-column: 3/13;
  display: flex;
  flex-direction: column;
}

#title {
  /*border: 4px solid orange;*/
  color: var(--clr-primary-a40);
  flex-shrink: 0;
  font-size: 40px;
  padding: 8px 0 8px 16px;
}

#header {
  /*border: 4px solid green;*/
  background-color: var(--clr-surface-a20);
  position: sticky;
  top: 0;
  flex-shrink: 0;
  font-size: 20px;
  padding: 8px 0 8px 16px;
  color: var(--clr-primary-a50);
  border-bottom: 1px solid var(--clr-surface-a10);
}

#completionBar {
  background-color: var(--clr-surface-a0);
  height: 28px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#completePerc {
  background-color: var(--clr-primary-a0);
  width: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  /*border: 4px solid teal;*/
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 32px 1fr;
}

form.taskForm {
  grid-row: 1/2;
  grid-column: 1/5;
}

div.listOptions {
  grid-column: 4/5;
  grid-row: 2/3;
  border-left: 1px solid var(--clr-surface-a30);
  padding: 8px;
}

div.listOptions > h2 {
  color: var(--clr-primary-a50);
}

div.listOptions > ul > li {
  margin-left: 12px;
}

/* task style settings */
#taskList {
  grid-column: 1/4;
  grid-row: 2/3;
}

div.task {
  background-color: var(--clr-surface-a30);
  margin: 12px;
  border: 1px solid var(--clr-surface-a50);
  border-radius: 8px;
  color: var(--clr-light-a0);
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr;
}

div.dragIcon {
  width: 20px;
  border-right: 1px solid var(--clr-surface-tonal-a0);
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.dragIcon > img.dragBars {
  width: 20px;
}

div.taskMain {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 8px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

div.taskCont {
  grid-column: 1/2;
  grid-row: 1/2;
}

div.taskSide {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

div.taskCont > header {
  font-size: 20px;
}

ul.stlist > li {
  margin-left: 12px;
}

div.deleteDiv,
div.addSTDiv {
  width: 40px;
  height: 40px;
  padding: 4px;
  border: 1px solid var(--clr-surface-a50);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.deleteDiv:hover,
div.addSTDiv:hover {
  background-color: var(--clr-surface-tonal-a50);
}

div.deleteDiv:active,
div.addSTDiv:active {
  background-color: var(--clr-light-a0);
}

img.deleteBtn,
img.addBtn {
  width: 32px;
}

#footer {
  /*border: 4px solid pink;*/
  border-top: 1px solid var(--clr-surface-a40);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

#footer > a {
  color: var(--clr-primary-a50);
  text-decoration: none;
}

#wipDisc {
  background-color: var(--clr-danger-a20);
  color: var(--clr-surface-a10);
  border: 1px solid var(--clr-dark-a0);
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}