* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Roboto", Verdana, Tahoma, sans-serif;
}

:root {
  --col-bg: rgb(15, 112, 209);
  --col-navbg: rgb(200 200 200);
  --col-taskbg: rgb(153, 176, 197);
  --col-bdbg: rgb(77, 88, 99);
  --col-compl: rgb(0 200 0);
  --col-compl2: rgb(0 150 0);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px 1fr;
}

header {
  background-color: var(--col-navbg);
  grid-column: 1/4;
  grid-row: 1/2;
  padding: 1rem;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main {
  background-color: var(--col-bg);
  grid-column: 2/3;
  grid-row: 2/3;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 2rem 0 2rem;
}

#heading {
  text-align: center;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

#newTaskForm {
  display: flex;
}

#newTaskForm > button {
  margin: 0 4px;
}

#addBtn {
  flex-grow: 0;
}

#taskTitle {
  flex-grow: 1;
  margin: 0 1rem 0 0;
}

#taskList {
  margin: 2rem 0 0 0;
}

.task {
  background-color: var(--col-taskbg);
  border: 1px solid var(--col-bdbg);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 0 .4rem 0;
}

.subtaskList {
  padding: 0 0 0 2rem;
  list-style-type: none;
}

li.subtask {
  padding: 4px;
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: flex;
}

li.subtask > span {
  flex-grow: 1;
}

/* conditional formatting classes */
.complete {
  background-color: var(--col-compl);
}

li.complete {
  background-color: var(--col-compl2);
}

li.complete > span {
  text-decoration: line-through;
}