/* global values */
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Roboto", Verdana, Tahoma, sans-serif;
}

:root {
  --col-bg: rgb(15, 112, 209);
  --col-navbg: rgba(0, 0, 0, 0.8);
  --col-taskbg: rgb(153, 176, 197);
  --col-bdbg: rgb(77, 88, 99);
  --col-compl: rgb(0 200 0);
  --col-compl2: rgb(0 150 0);
}

/* main over-arching settings */

body {
  background-color: var(--col-bodybg);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 6fr 1fr 60% 1fr 6fr;
}

main {
  background-color: var(--col-bg);
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 0 2rem 0 2rem;
}

/* navbar settings */
.sideNav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sideNav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sideNav #closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
  transition: margin-left .5s;
  padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}
/**/


/* content settings */
#heading {
  color: white;
  text-align: center;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

#newTaskForm {
  display: flex;
}

#newTaskForm > button {
  margin: 0 4px;
}

#addBtn {
  flex-grow: 0;
}

/* has to be declared in the html for the button to work first click?
#formOptions {
  display: none;
}
*/

/* task style settings */
#taskTitle {
  flex-grow: 1;
  margin: 0 1rem 0 0;
}

#taskList {
  margin: 2rem 0 0 0;
}


.task {
  background-color: var(--col-taskbg);
  border: 1px solid var(--col-bdbg);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 0 .4rem 0;
}

.subtaskList {
  padding: 0 0 0 2rem;
  list-style-type: none;
}

li.subtask {
  padding: 4px;
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: flex;
}

li.subtask > span {
  flex-grow: 1;
}

/* conditional formatting classes */
.complete {
  background-color: var(--col-compl);
}

li.complete {
  background-color: var(--col-compl2);
}

li.complete > span {
  text-decoration: line-through;
}