* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Roboto", Verdana, Tahoma, sans-serif;
}

:root {
  --col-bg: rgb(15, 112, 209);
  --col-navbg: rgb(200 200 200);
  --col-taskbg: rgb(153, 176, 197);
  --col-bdbg: rgb(77, 88, 99);
}

/* html body styling */
body {
  /* display settings */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 10fr;
}

/* header styling */
header {
  /* colors */
  background-color: var(--col-navbg);
  /* grid layout */
  grid-column: 1/4;
  grid-row: 1/2;
  /* spacing and alignment */
  padding: 1rem;
  border-bottom: 1px solid black;
}

nav {
  /* display settings */
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* main styling */
main {
  /* colors */
  background-color: var(--col-bg);
  /* display settings */
  grid-column: 2/3;
  grid-row: 2/3;
  /* spacing and alignment */
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 1rem 2rem 1rem 2rem;
}

#heading {
  text-align: center;
}

form {
  /* display settings */
  display: flex;
}

form button {
  margin: 0 4px;
}

#addBtn {
  flex-grow: 0;
}

#taskTitle {
  flex-grow: 1;
  /* spacing and alignment */
  margin: 0 1rem 0 0;
}

#taskList {
  /* spacing and alignment */
  margin: 2rem 0 0 0;
}

.task {
  /* colors */
  background-color: var(--col-taskbg);
  /* spacing and alignment */
  border: 1px solid var(--col-bdbg);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 0 .4rem 0;
}

.subTaskList {
  /* spacing and alignment */
  padding: 0 0 0 2rem;
}